.container {
  background-color: #eff1f4;
  .box {
    width: 980px;
    margin: 0 auto;

    // 热门
    .hot {
      background-color: #fff;
      padding: 40px 0 0 0;

      .hot-header {
        display: flex;
        align-items: center;
        margin: 0 40px;
        padding: 0 0 10px 0;
        border-bottom: 2px solid #ce1f08;

        .hot-title-first {
          font-size: 1.5rem;
          color: #222;
        }

        .hot-title {
          padding: 0 10px;
          font-size: 0.92rem;
          color: #666;
          cursor: pointer;
        }

        .hot-h-list {
          align-items: flex-end;

          .hot-h-item {
            margin: 0 0 0 20px;
          }

          .hot-h-item:hover {
            cursor: pointer;
            text-decoration: underline #999 solid;
          }
        }
      }

      // 歌单
      .singer-unit {
        margin: 20px 20px 0 20px;

        .su-list {
          display: flex;
          flex-wrap: wrap;

          .su-item {
            width: calc(20% - 40px);
            margin: 0 20px 30px 20px;

            .fans {
              width: 100%;
              height: 140px;
              display: flex;
              align-items: flex-end;
              background-size: cover;
              background-repeat: no-repeat;

              div {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 5px 10px;
                font-size: 0.8rem;
                color: #ccc;
                background-color: rgba(0, 0, 0, 0.6);
                backdrop-filter: blur(2px);

                .icon-zanting:hover {
                  color: #fff;
                }
              }
            }

            .su-name {
              margin-top: 10px;
              font-size: 0.8rem;
              color: #333;
            }

            .album-img {
              width: 100%;
              height: 140px;
              background-size: cover;
              background-repeat: no-repeat;
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              padding: 0 10px 10px 0;

              i {
                display: none;
                font-size: 25px;
                color: #eee;
              }
            }
            .album-img:hover i {
              display: block;
            }

            .ai-desc {
              margin-top: 10px;
              font-size: 0.8rem;

              p {
                margin: 0;
                padding: 0 0 5px 0;
                width: 100px;
              }
            }
            .ai-desc p:nth-child(1) {
              color: #222;
            }
            .ai-desc p:nth-child(2) {
              color: #999;
            }
          }
        }
      }
    }

    // 分页
    .pagination {
      padding: 20px 20px 20px 40px;
      background-color: #fff;
    }
  }
}
